/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    margin-top: 100px;
}
ul li{
    list-style: none;
    border: 1px solid grey ;
    padding: 10px;
}

h2{
    text-align: center
}
input {
    border: none;
    width: 100%;
}